@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Comforter&family=Dancing+Script:wght@700&family=Fira+Code:wght@300&family=Lora&family=Open+Sans:wght@300&family=Outfit:wght@100;200;400&family=Shalimar&family=Ubuntu:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: hsl(220, 15%, 55%);
	height: 100vh;
	width: 100vw;
	margin: auto;
	background-color: hsl(212, 45%, 89%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.outer_container {
	overflow: hidden;
	border-radius: 1rem;

	margin: auto;
	padding: 14px;
	width: 350px;

	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.qr img {
	border-radius: 14px;
	display: block;
	max-width: 100%;
}

.about {
	display: flex;
	padding: 1rem;
	flex-direction: column;
}

.h2 {
	font-family: 'Outfit', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: hsl(218, 44%, 22%);
	margin-bottom: 0px;
}
.para {
	margin-top: 0.7rem;
	font-family: 'Outfit', sans-serif;
	font-size: 15px;
	font-weight: 400;
}
